numpy
psutil
scipy
pillow
flask
pynput==1.16

pywin32; platform_system=='Windows'
XInput-Python==0.4; platform_system=='Windows'

pyxhook; platform_system=='Linux'
python-xlib; platform_system=='Linux'

AppKit; platform_system=='Mac'