numpy==2.2.1
pillow==10.4.0
pynput==1.8.1
psutil==6.1.1
PySide6==6.7.3
scipy==1.14.1
pyyaml==6.0.2
XInput-Python==0.4
screeninfo==0.8.1
filelock==3.20.3
send2trash==1.8.3
pyobjc-framework-Quartz==11.0; sys_platform=='darwin'
python-xlib==0.33; sys_platform!='win32' and sys_platform!='darwin'
