name: Build (Windows)

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions: write-all
    steps:
    - name: Checkout partial repository
      if: github.ref_type == 'tag'
      uses: actions/checkout@v4

    - name: Checkout full repository
      if: github.ref_type != 'tag'
      uses: actions/checkout@v4
      with:
       fetch-depth: 0
       fetch-tags: True

    - name: Get version from current tag
      if: github.ref_type == 'tag'
      shell: bash
      run: |
          echo "VERSION=$GITHUB_REF_NAME" >> "$GITHUB_ENV"
          echo "Version: $GITHUB_REF_NAME"

    - name: Get version from latest tag
      if: github.ref_type != 'tag'
      shell: bash
      run: |
        LATEST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "0.0")
        echo "VERSION=$LATEST_TAG" >> "$GITHUB_ENV"
        echo "Version: $LATEST_TAG"

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Create virtual environment
      shell: cmd
      run: |
        python -m venv .venv

    - name: Create build folder
      shell: cmd
      run: |
        if exist build rmdir build /s /q
        mkdir build

    - name: Update components
      shell: cmd
      run: |
        call .venv\Scripts\activate
        python -m pip install --upgrade pip wheel
        call .venv\Scripts\deactivate

    - name: Build PyInstaller Bootloader (${{ env.PYINSTALLER_VERSION }})
      shell: cmd
      run: |
        call .venv\Scripts\activate

        echo --- Cloning PyInstaller ${{ env.PYINSTALLER_VERSION }} ---
        git clone --branch ${{ env.PYINSTALLER_VERSION }} --depth 1 https://github.com/pyinstaller/pyinstaller.git build/pyinstaller
        if errorlevel 1 exit /b 1

        echo --- Building Bootloader ---
        cd build\pyinstaller\bootloader
        python ./waf distclean all
        if errorlevel 1 exit /b 1
        cd ..

        echo --- Installing Custom PyInstaller from build directory ---
        pip install .
        if errorlevel 1 exit /b 1

        call deactivate
        echo --- Bootloader build and PyInstaller install complete ---

    - name: Install dependencies
      shell: cmd
      run: |
        call .venv\Scripts\activate
        python -m pip install --upgrade -r requirements.txt
        python -m pip install --upgrade -r requirements-build-pyinstaller.txt
        call .venv\Scripts\deactivate

    - name: Create version.rc
      shell: cmd
      run: |
        call .venv\Scripts\activate
        pyivf-make_version --outfile "build\version.rc" --version %VERSION% --file-description "MouseTracks %VERSION%" --internal-name "MouseTracks" --legal-copyright "Peter Hunt" --original-filename "MouseTracks.exe" --product-name "MouseTracks %VERSION%"
        call .venv\Scripts\deactivate
        if not exist build\version.rc (
          echo ERROR: version.rc not created!
          exit /b 1
        )

    - name: Build executable
      shell: cmd
      run: |
        call .venv\Scripts\activate
        pyinstaller MouseTracks.spec
        call .venv\Scripts\deactivate

    - name: Attach executable to release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v1
      with:
        files: dist/MouseTracks.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload executable as artifact
      uses: actions/upload-artifact@v4
      with:
        path: dist\MouseTracks.exe
